.editvisible {
    display: none;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: #57f0e3c4;
}

.main {
    position: relative;
    text-align: end;
    text-align: center;
    margin: auto;
    background-color: azure;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 15px #727171;
    border-radius: 15px;
    padding: 20px;
    border: 3px solid #fafafa;
    width: 400px;
    min-height: 500px;
    height: fit-content;
}

.addInp {
    border: 1px solid #221efa;
    border-radius: 30px;
    background-color: aqua;
    margin-bottom: 5px;

}

.inp1st {
    padding: 20px;
    font-size: 25px;
    width: 289px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 30px 0 0 30px;
    

}
::placeholder{
    color: #221efa;
    font-size: 20px ;}
.inpBtn {
    text-align: center;
    font-size: 25px;
    border-radius: 0 30px 30px 0;
    outline: none;
    border: none;
    width: 58px;
    cursor: pointer;
    padding: 10px;
    color: #0066b9;
    background-color: aqua;
    

}

.pad {
    padding: 15px;


}

.list {
    display: flex;
    list-style: none;
    margin-top: 10px;
    border: 1px solid #221efa;
    border-radius: 30px;
    width: 350px;
    background: aqua;
overflow: hidden;
}

.btnvisible {
    text-align: end;
    width: 500px;
}

.nBtn2 {
    background: transparent;
    outline: none;
    color: #0066b9;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0 30px 30px 0;
    border: none;
    font-size: 20px;
    margin-right: -8px;
}

.nBtn1 {
    background: transparent;
    cursor: pointer;
    width: 50px;
    color: #0066b9;
    height: 50px;
    outline: none;
    margin-right: -25px;
    border-radius: 0;
    border: none;
    font-size: 20px;

}

.delAll{
    font-size: 30px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #0066b9;
    width: 100px;
margin-top: 100%;   
height: 40px;
}

